# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# VEL files
*.vel
*.enc
*.dec
ciphertext.txt
plaintext.txt

# Local IDE folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Build releases and distribution
dist/
*.zip

